/* Style pour l'en-tête */
header {
  background-color: #0062cc;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Style pour le paragraphe de texte */
p {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

/* Style pour le lien */
a {
  color: #0062cc;
  text-decoration: none;
}

/* Style pour le pied de page */
footer {
  background-color: #0062cc;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Style pour la liste du pied de page */
footer ul {
  list-style-type: none;
}

/* Style pour les liens du pied de page */
footer a {
  color: #fff;
  text-decoration: none;
}